<div class="favorites-wrapper">
  <div class="row center" *ngIf="reducer.favorites && reducer.favorites.length>0; else noFavorties">
    <div class="current-weather-wrapper col-lg-2" *ngFor="let fav of reducer.favorites; let i = index" (click)="openLocation(fav)">
      <div class="card">
        <div class="card-header text-white bg-info">
          {{fav.name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <img *ngIf="fav.icon" class="condition-image" src="../../../assets/images/{{fav.icon  + '-s.png'}}">
            <div class="condition-text">{{fav.value | temperature: fav.unit}}</div>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noFavorties>
    You don't have any favorite locations.
  </ng-template>
</div>
